<!DOCTYPE html>
<html lang="zxx" class="no-js">

  <body>
    <!-- start banner Area -->
    <section class="banner-area" id="home">	
      <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
          <div class="banner-content col-lg-7">
            <h1>
              Alugue aqui a sua WanderBag!
            </h1>
            <p class="pt-20 pb-20">
              Gaste mais com a sua viagem e não com a compra de malas para depois deixá-las guardadas no armário até a próxima viagem.
            </p>
          </div>											
        </div>
      </div>
    </section>
    <!-- End banner Area -->	

    <!-- Start we-offer Area -->
    <section class="we-offer-area section-gap" id="offer">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-60 col-lg-10">
            <div class="title text-center">
              <h1 class="mb-10">Nossos serviços</h1>
              <p>É pratico, simples e seguro. Tudo para a comodidade de sua viagem.</p>
            </div>
          </div>
        </div>						
        <div class="row">
          <div class="col-lg-6">
            <div class="single-offer d-flex flex-row pb-30">
              <div class="icon">
                <img src="/template/img/s1.png" alt="">
              </div>
              <div class="desc">
                <a href="#"><h4>Diversos modelos e tamanho</h4></a>
                <p>
                  Possuimos uma variedade de modelos e tamanho de malas. Cada uma delas com um estilo e identidade diferente, tudo para se encaixar perfeitamente com suas necessidades!
                </p>
              </div>
            </div>
            <div class="single-offer d-flex flex-row pb-30">
              <div class="icon">
                <img src="/template/img/s3.png" alt="">
              </div>
              <div class="desc">
                <a href="#"><h4>Suporte e atendimento quando e onde estiver</h4></a>
                <p>
                  Disponibilidade de atendimento e socorro em caso de problemas com sua WanderBag 24 horas por dia, 7 dias na semana. Para que você possa viajar tranquilo, e não esquentar a cabeça caso ocorra algum imprevisto!
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-offer d-flex flex-row pb-30">
              <div class="icon">
                <img src="/template/img/s2.png" alt="">
              </div>
              <div class="desc">
                <a href="#"><h4>Seguro</h4></a>
                <p>
                  Oferecemos também, seguro para sua bagagem e para a WanderBag alugada. Adquirir esse serviço, é sinônimo de viagem tranquila!
                </p>
              </div>
            </div>
            <div class="single-offer d-flex flex-row pb-30">
              <div class="icon">
                <img src="/template/img/s4.png" alt="">
              </div>
              <div class="desc">
                <a href="#"><h4>Entragas</h4></a>
                <p>
                  Está sem tempo para retirar ou devolver sua WanderBag? Sem problemas, entregamos ela onde você preferir!
                </p>
              </div>
            </div>
          </div>												
        </div>
      </div>	
    </section>
    <!-- End we-offer Area -->
    

    <!-- Start home-video Area -->
    <section class="home-video-area" id="about">
      <div class="container-fluid">
        <div class="row justify-content-end align-items-center">
          <div class="col-lg-4 no-padding video-right">
            <p class="top-title">Entenda as vantagens</p>
            <h1>PRATICIDADE<br>
            ECONOMIA<br>
            GANHO DE ESPAÇO</h1>
            <p><span>Porque alugar é a melhor opção?</span></p>
            <p>
              Deixe de consumir espaço no seu armário com uma mala que fica a maior parte do ano sem uso, e ainda pague menos para usufruir de uma mala de altíssima qualidade e perfeito estado de conservação. Isso lhe permitirá fazer bom uso dos grandes espaços que irá ficar disponíveis no seu armário.
            </p>
          </div>
          <section class="video-area col-lg-6">
            <div class="overlay overlay-bg"></div>
            <div class="container">
              <div class="video-content">
                <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="play-btn"><img src="/template/img/play-btn.png" alt=""></a>
              </div>
            </div>
          </section>											
        </div>
      </div>	
    </section>
    <!-- End home-aboutus Area -->


    <!-- Start home-aboutus Area -->
    <section class="home-aboutus-area">
      <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-8 no-padding about-left">
            <img class="img-fluid" src="/template/img/about-bg.jpg" alt="">
          </div>
          <div class="col-lg-4 no-padding about-right">
            <p class="top-title">Especialistas para melhor atendê-lo</p>
            <h1 class="text-white">Equipe de suporte <br>
            Corretor de seguros</h1>
            <p><span>Nossa equipe está sempre preparada para te ajudar a ter uma viagem tranquila e sem dores de cabeça!</span></p>
            <p>
              Suporte e corretor de seguros 24 horas por dia, durante toda a semana, apta a tirar dúvidas, e resolver qualquer casualidade que possa vir a ocorrer com nossos serviços enquanto você desfruta prazerosamente sua viagem!
            </p>
          </div>
        </div>
      </div>	
    </section>
    <!-- End home-aboutus Area -->

    <!-- Start testomial Area -->
    <section class="testomial-area section-gap" id="wanderbags">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-60 col-lg-10">
            <div class="title text-center">
              <h1 class="mb-10">Alguns de nossos modelos de WanderBag!</h1>
              <p>É com prazer que lhe damos a oportunidade de aprenciar alguns de nossos maravilhosos modelos de WanderBag! E isso é só o começo.</p>
            </div>
          </div>
        </div>						
        <div class="row">
          <div class="active-tstimonial-carusel">
            <div class="single-testimonial item">
              <img class="image img-fluid" src="/template/img/p1.jpg" alt="">
              <a href="/template/img/p1.jpg" class="img-pop-up">	
                <div class="middle">
                  <div class="text"><span class="lnr lnr-frame-expand"></span></div>
                </div>
              </a>
            </div>
            <div class="single-testimonial item">
              <img class="image img-fluid" src="/template/img/p2.jpg" alt="">
              <a href="/template/img/p2.jpg" class="img-pop-up">	
                <div class="middle">
                  <div class="text"><span class="lnr lnr-frame-expand"></span></div>
                </div>
              </a>
            </div>
            <div class="single-testimonial item">
              <img class="image img-fluid" src="/template/img/p3.jpg" alt="">
              <a href="/template/img/p3.jpg" class="img-pop-up">	
                <div class="middle">
                  <div class="text"><span class="lnr lnr-frame-expand"></span></div>
                </div>
              </a>
            </div>
            <div class="single-testimonial item">
              <img class="image img-fluid" src="/template/img/p4.jpg" alt="">
              <a href="/template/img/p4.jpg" class="img-pop-up">	
                <div class="middle">
                  <div class="text"><span class="lnr lnr-frame-expand"></span></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>	
    </section>
    <!-- End testomial Area -->    
  
    <!-- Start price Area -->
    <section class="price-area section-gap" id="price">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-60 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">Modelos de WanderBag conforme sua necessidade!</h1>
              <p>E o melhor: cabe no seu bolso.</p>
            </div>
          </div>
        </div>					
        <div class="row">
          <div class="col-lg-4">
            <div class="single-price">
              <div class="top-sec d-flex justify-content-between">
                <div class="top-left">
                  <h4>Basic</h4>
                  <p>Para viagens de curta duração.</p>
                </div>
                <div class="top-right">
                  <h1>$19/dia</h1>
                </div>
              </div>
              <div class="bottom-sec">
                <p>
                  1un. WanderBag! pequena
                </p>
              </div>
              <div class="end-sec">
                <ul>
                  <li>Modelos básicos e de tamanho pequeno, porém robustos</li>
                  <li>Possibilidade de adquirir seguros</li>
                  <li>Possibilidade de entrega à domícilio</li>
                  <li>Suporte 24 horas / 7 dias</li>
                </ul>
                <%# <button class="primary-btn price-btn mt-20">Purchase Plan</button> %>
              </div>								
            </div> 
          </div>
          <div class="col-lg-4">
            <div class="single-price">
              <div class="top-sec d-flex justify-content-between">
                <div class="top-left">
                  <h4>Standard</h4>
                  <p>Viagens de até 4 semanas.</p>
                </div>
                <div class="top-right">
                  <h1>$29/dia</h1>
                </div>
              </div>
              <div class="bottom-sec">
                <p>
                  1un. WanderBag! média
                </p>
              </div>
              <div class="end-sec">
                <ul>
                  <li>Modelos intermediários e de tamanho médio, espaçosos e elegantes</li>
                  <li>Possibilidade de adquirir seguros</li>
                  <li>Entrega à domícilio</li>
                  <li>Suporte 24 horas / 7 dias</li>
                </ul>
                <%# <button class="primary-btn price-btn mt-20">Purchase Plan</button> %>
              </div>								
            </div> 
          </div>	
          <div class="col-lg-4">
            <div class="single-price">
              <div class="top-sec d-flex justify-content-between">
                <div class="top-left">
                  <h4>Premium</h4>
                  <p>Viagens superiores a 4 semanas.</p>
                </div>
                <div class="top-right">
                  <h1>$34/dia</h1>
                </div>
              </div>
              <div class="bottom-sec">
                <p>
                  1un. WanderBag! grande
                </p>
              </div>
              <div class="end-sec">
                <ul>
                  <li>Modelos premium! De tamanho grande, modernas, espaçosas, elegantes e robustas!</li>
                  <li>Seguro incluso</li>
                  <li>Entrega à domícilio</li>
                  <li>Suporte 24 horas / 7 dias</li>
                </ul>
                <%# <button class="primary-btn price-btn mt-20">Purchase Plan</button> %>
              </div>								
            </div> 
          </div>
          <div class="menu-content mt-10 offset-lg-2 col-lg-8">
            <div class="title text-center">
              <button class="genric-btn primary arrow"><%= link_to 'ALUGUE UMA WANDERBAG!', new_subscription_url %><span class="lnr lnr-arrow-right"></span></button>
            </div>
          </div>                                        
        </div>	
      </div>
    </section>
    <!-- End price Area -->
  </body>
</html>



