<section class="sample-text-area">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-lg-8">
        <h3 class="text-heading">Gratidão</h3>
        <p class="sample-text">
          Ficamos muito contentes em saber que as pessoas tem interesse em nosso produto! Ao apoiar nossa causa, e realizar a inscrição para receber novidades, você tornará mais fácil nosso planejamento, e fará com que nossos serviços estejam disponíveis o mais rápido possível para melhor atendê-lo.<br> 
        </p>
      </div>
    </div>
  </div>
</section>

<%= render 'form', subscription: @subscription %>
